@import url(http://fonts.googleapis.com/css?family=Bangers);

.ad {
  background: #9ddeff;
  margin: 4em 0 2em 0;
  padding: 1em;
}

.ad .well {
  background: #fff;
  padding: 1em;
  font-family: 'Droid Sans';
  font-size: 0.85em;
  line-height: 1.1em;
}

.ad .well h2 {
  color: #d72097;
  font-family: 'Bangers';
  font-size: 4em;
  margin: 0.4em 0 0.4em;
}

.ad .btn {
  background: #e020ad;
  width: 100%;
  display: block;
  background-image: -webkit-linear-gradient(top, #e020ad, #bd2475);
  background-image: -moz-linear-gradient(top, #e020ad, #bd2475);
  background-image: -ms-linear-gradient(top, #e020ad, #bd2475);
  background-image: -o-linear-gradient(top, #e020ad, #bd2475);
  background-image: linear-gradient(to bottom, #e020ad, #bd2475);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Bangers;
  color: #ffffff;
  font-size: 3em;
  padding: 10px 20px 10px 20px;
  border: solid #a8168b 1px;
  text-decoration: none;
}

.ad .btn:hover {
  background: #fc3cd6;
  background-image: -webkit-linear-gradient(top, #fc3cd6, #d934ad);
  background-image: -moz-linear-gradient(top, #fc3cd6, #d934ad);
  background-image: -ms-linear-gradient(top, #fc3cd6, #d934ad);
  background-image: -o-linear-gradient(top, #fc3cd6, #d934ad);
  background-image: linear-gradient(to bottom, #fc3cd6, #d934ad);
  text-decoration: none;
}
