<h2>Check out 
  <a href="https://devschool.rocks/?utm_campaign=empire&utm_medium=referral">Devschool, an online developer bootcamp</a></h2>
<h3>Learn Ruby, Rails, Javascript, Functional Programming</h3>
<hr />

<img src="https://s3.amazonaws.com/devschool-shared/large-square-red.png" 
     class="img-responsive brand" align="right">

<p>Devschool is the premiere online developer bootcamp for those who want to ditch
their College classes or their Dead-end job and start learning skills
that pay the bills.</p>

<p>At Devschool you won't spend your time writing 'clones' of other sites
or doing pointless step a-z type assignments. Instead you will build
real applications, using today's hottest technologies like JavaScript,
Ruby on Rails, and HTML5.</p>

<p class="navigate"><a href="https://devschool.rocks/?utm_campaign=empire&utm_medium=referral&utm_source=guides" class="btn btn-go btn-lg"><span class="glyphicon glyphicon-arrow-right"></span> Go to the Devschool website</a></p>
