<h2>Ruby Web Development Technology Guides</h2>

<p>Looking for quality  Ruby and Rails web development guides written
by an expert? Excellent, because everything here is battle tested by 
Jim OKelly, a seasoned programmer and top Ruby consultant and
educator!</p>
