<h2>Ruby Web Development Technology Guides</h2>

<p>Learn to Ruby! You can't be a "Rails Developer" if
if you don't know the language of the framework
you are using. These guides are designed to teach you
the Ruby you are missing so your Rails doesn't suck
so bad!</p>

