<h2>OnlineDevSchool</h2>
<h3>Become a Web Developer in as 12-36 weeks!</h3>
<hr />

<img src="/images/ods-lg-sq.png" class="img-responsive brand" align="right">

<p>ODS is the online Developer school for those who want to ditch
their College classes or their Dead-end job and start learning skills
that pay the bills.</p>

<p>At ODS you won't spend your time writing 'clones' of other sites
or doing pointless step a-z type assignments. Instead you will build
real applications, using today's hottest technologies like Javascript,
Ruby on Rails, and HTML5.</p>

<p>We are priced quite a bit lower than competing bootcamps who charge
between $6,000 USD and on up to $25,000 USD. Contrast those numbers with
our enrollment of as little as $3,449 USD and even monthly payments of
$899 USD to get learning at ODS!</p>

<p class="navigate"><a href="https://onlinedevschool.com/?utm_campaign=empire&utm_medium=referral&utm_source=guides" class="btn btn-go btn-lg"><span class="glyphicon glyphicon-arrow-right"></span> Go to the OnlineDevSchool website</a></p>
